<div class="quickInfo row justify-content-evenly mt-5">
    <div class="totalData mb-3 col-md-3 col-sm-12 rounded">
        <h2 class="fs-1">20</h2>
        <p class="">Total lockers</p>
    </div>
    <div class="totalData mb-3 col-md-3 col-sm-12 rounded">
        <h2 class="fs-1">4</h2>
        <p class="">Available lockers</p>
    </div>
    <div class="totalData mb-3 col-md-3 col-sm-12 rounded">
        <h2 class="fs-1">4</h2>
        <p class="">Occupied lockers</p>
    </div>
</div>
<div class="w-100 text-center p-5">
    <button id="LockerManager" class="btn" onclick="MainContent('locker');">Locker Manager</button>
</div>