<div class="lockerContainer">
    <div id="LockerNav">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <p id="LockerRange" class="navbar-brand">Locker # 001 - 025</p>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" name="searchFilter">Search</button>
                <div class="dropdown d-inline ms-1">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Filter
                    </button>
                    <div class="dropdown-menu p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                EID
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Name
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Department
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Locker No.
                            </label>
                        </div>
                    </div>
                </div>
              </form>
            </div>
        </nav>
    </div>
    <br/>
    <div id="LockerList" class="lockerList p-3">
        <!-- Temporarily filled using locker_list.js -->
    </div>
    <div>
        <button>&larr;</button>
        <button class="float-end">&rarr;</button>
    </div>
</div>
<div id="InfoContainer" class="infoContainer mt-5 mb-5">
    <h2>Locker #</h2>
    <form>
        <div class="row">
            <div class="mb-3 col-6">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="EID" class="col-form-label">EID</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="EID" class="form-control">
                    </div>
                </div>
            </div>
            <div class="mb-3 col-6">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="Department" class="col-form-label">Department</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="Department" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Assigned</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="Assigned" class="form-control">
                    </div>
                </div>
            </div>
            <div class="mb-3 col-6">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Assigned to</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="AssignedTo" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Assign</button>
    </form>
</div>