.lockerList {
    margin: auto;
    max-width: 600px;
}

.lockerList .col, .lockerList .col-sm-3 {
    aspect-ratio: 1/1;
    min-height: 50px;
    padding: 1%;
    text-align: center;
    border: 2px solid var(--locker-border-color);
    position: relative;
}

.lockerList .col > div, .lockerList .col-sm-3 > div {
    height: 100%;
    border: 2px solid var(--locker-inner-border-color);
}

.lockerList p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}